.vscode/
.idea/

docker/bins/
docker/libs/
docker/qt-open*
docker/customqtwebengine
docker/qtwebengine
nalfile.nal
spawnerold/dist

spawner/dist
spawner/node_modules

__pycache__
venv
.qtsecret
docker/qt-opensource-linux-x64-5.13.2.run
browser/cmake-build-debug
.env
browser/cmake_install.cmake
# For commands
browser/src/proto.h
browser/proto.h
qpa/src/proto.h
client/js/Proto.js

dist

browser/build/
browser/Makefile
browser/.qmake.stash
browser/browser
browser/browser_autogen


qpa/.pch
qpa/.qmake.conf

spawner/dist/node_modules
spawner/node_modules
mathias.txt

httpsdevserver/*.pem

page.pdf
pdfforprinting.pdf

log.txt

client/config.js